@mixin header-gradient($layer, $opacity) {
    position: absolute;
    top: calc($layer * var(--grid-size));
    height: var(--grid-size);
    width: 100%;
    opacity: $opacity;
    background: linear-gradient(90deg, var(--color1), var(--color2));
}




header {
    position: fixed;
    left: 0;
    right: 0;
    height: calc(6 * var(--grid-size));
    z-index: 1000;

    @for $i from 1 through 6 {
        .line#{-$i} {
            z-index: #{7 - $i};
            @include header-gradient($i - 1, 1 - (($i - 1) * 0.15));
        }
    }

    &.animate {
        opacity: 1;
        transition: opacity 0.8s ease 0.5s, transform 0.8s ease 0.5s;
    }

}

/*

@mixin down-animation($layer) {
    animation: slide-down-animation 0.6s cubic-bezier(0.08, 0.42, 0, 0.79) calc($layer * 0.15) both;
}

@keyframes slide-down-animation {
    0% {
        height: 0;
    }

    100% {
        height: var(--grid-size);
    }
}
*/