#about{
    .videos-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        video{
            width: 260px;
            border: 2px solid black;
            filter: grayscale(1);
        }
    }
}