.control {
    display: block;
    position: relative;

    .hide {
        position: absolute;
        right: var(--grid-size);
        bottom: var(--grid-size);
        width: calc(3 * var(--grid-size));
        height: calc(3 * var(--grid-size));
        outline: none;
        border: 2px solid white;
        border-radius: 0;
        background-color: transparent;
        color: white;
        cursor: pointer;
        z-index: 2;
        font-size: calc(0.8 * var(--grid-size));
        font-family: var(--font-title);
    }

    .controls {
        width: 100%;
        height: calc(13 * var(--grid-size));
        background-color: rgba(211, 211, 211, 0.158);
        position: relative;

        .hint {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
        }

        .range-wrapper {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--grid-size);
            padding: var(--grid-size);
            width: 100%;

            .range-group {
                width: 100%;
                height: var(--grid-size);
                position: relative;

                .range {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: calc(1 * var(--grid-size));
                    background-color: var(--color2);
                    outline: none;
                    cursor: pointer;
                    z-index: 2;

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: var(--grid-size);
                        height: var(--grid-size);
                        border: 2px solid var(--color2);
                        border-radius: 0;
                        cursor: pointer;
                        background-color: var(--color1);
                    }
                }

                .range-label {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    color: var(--color3);
                    font-family: var(--font-title);
                    font-size: calc(0.8 * var(--grid-size));
                    opacity: 0.4;
                    pointer-events: none;
                    z-index: 1;
                }
            }
        }

        .randomize {
            position: absolute;
            width: calc(7 * var(--grid-size));
            height: calc(3 * var(--grid-size));
            bottom: var(--grid-size);
            right: calc(5 * var(--grid-size));
            outline: none;
            border: 2px solid white;
            color: white;
            cursor: pointer;
            background-color: transparent;
            font-size: calc(0.8 * var(--grid-size));
            font-family: var(--font-title);
        }

        .colors {
            position: absolute;
            bottom: var(--grid-size);
            right: calc(13 * var(--grid-size));
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: var(--grid-size);

            .color-btn {
                width: calc(3 * var(--grid-size));
                height: calc(3 * var(--grid-size));
                cursor: pointer;
            }

            .color-1 {
                background-color: var(--color1);
            }

            .color-2 {
                background-color: var(--color2);
            }

            .color-3 {
                background-color: var(--color3);
            }
        }

    }
}

@media (min-width:1200px) {
    .control {

        .controls {
            height: calc(5 * var(--grid-size));

            .range-wrapper {
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--grid-size);
                padding: var(--grid-size);
                width: calc(100% - calc(16 * var(--grid-size)));

                .range-group {
                    width: 100%;
                    height: var(--grid-size);
                    position: relative;

                    .range-label {
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        color: var(--color3);
                        opacity: 0.4;
                        pointer-events: none;
                        z-index: 1;
                    }
                }
            }

            .randomize {
                position: absolute;
                width: calc(5 * var(--grid-size));
                height: calc(3 * var(--grid-size));
                bottom: var(--grid-size);
                right: calc(5 * var(--grid-size));
                outline: none;
                border: 2px solid white;
                color: white;
                cursor: pointer;
                background-color: transparent;
            }

            .colors {
                position: absolute;
                bottom: var(--grid-size);
                right: calc(11 * var(--grid-size));
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: var(--grid-size);

                .color-btn {
                    width: var(--grid-size);
                    height: calc(3 * var(--grid-size));
                    cursor: pointer;
                }

                .color-1 {
                    background-color: var(--color1);
                }

                .color-2 {
                    background-color: var(--color2);
                }

                .color-3 {
                    background-color: var(--color3);
                }
            }

        }
    }
}

/*

.control {
    position: absolute;
    right: var(--grid-size);
    bottom: var(--grid-size);
    height: calc(4 * var(--grid-size));
    background-color: tomato;
    opacity: 0;

    .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: var(--grid-size);
        background-color: black;
        outline: none;
        cursor: pointer;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--grid-size);
            height: var(--grid-size);
            border: 2px solid #fff;
            border-radius: 0;
            cursor: pointer;
            background-color: red;
        }
    }
}


@media (min-width:1200px) {
    .control {
        left: calc(8 * var(--grid-size));
        right: calc(8 * var(--grid-size));
    }
}
*/